*{
    margin: 0;
    box-sizing: border-box;
}

/*      THIS CSS CODE IS IMPLEMENTED INSIDE THE HTML FILE AS INTERNAL AND INLINE CODE. LINE 8 & LINE 19
h1 {
    
    text-align: center;
    color:#006cc4 ;
    margin-top:0 ;
    padding: 20px 0 20px;
    background-color: rgb(217, 230, 228);
}
*/

.pantry-section, .freezer-section{
    display: flex;
    margin: 20px;
    width: 80%;
    justify-content: space-between;

    
}

.pantry-heading, .freezer-heading{
    display: inline-block; 
    text-align: center;
    width: 50%;
    background-color: #bedfc5;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    border: 2px solid black;

}

.canned-box h3 , .dry-box h3, .veggies-box h3, .snacks-box h3 {
    text-align: center;
    background-color: rgb(158, 180, 255);
    margin: 0;
    padding: 20px 0 0 0;
    border-bottom:1px solid black ;
}

.canned-box, .dry-box , .veggies-box, .snacks-box{
    display: flex;
    width: 25%;
    background-color: #d5e0f0;
    border: 2px solid black;
    padding: 0px;
    flex-direction: column;
}

.photo-container {
    width: 25%;
    object-fit: fill;
    padding: 10px;
}

.pantry-photo, .freezer-photo {
    width:100%;
}

